**/*.md
**/*.mo
**/*.pyc
**/*.pyo
**/__pycache__/
**/.ruff_cache/
*.db
*.gif
*.jpeg
*.jpg
*.mov
*.mp4
*.png
*.pyc
*.pyd
*.pyo
*.sqlite
*.tar
*.zip
.env
.git/
.git/
.gitignore
.venv/
__pycache__/
db.sqlite3
node_modules/
posts/
