@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@500;700&display=swap");
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: var(--text-color);
  background: var(--bg-color);
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
html.dark-mode,
body.dark-mode {
  --bg-color: #000000;
  --text-color: #ffffff;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--bg-color);
  z-index: -1;
  /* behind all content */
}

.content {
  height: 100vh;
}

h1,
h2,
h3 {
  font-style: normal;
}

a {
  color: var(--text-color);
  text-decoration: none;
  margin: 0px;
}

img {
  max-width: 100%;
  height: auto;
}

.emphasis {
  font-weight: 600;
}

.text {
  background-color: #e1ffc2;
  display: none;
  font-size: 20px;
}

.collapsible {
  overflow: hidden;
  cursor: pointer;
  max-height: 0px;
}
.collapsible ul {
  list-style-type: none;
  margin: 0px;
}
.collapsible ul li {
  margin: 7px;
}

.text-heading {
  display: flex;
  flex-direction: column;
}

.series {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 20px 40px 0px 40px;
}
.series .series-title {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 700;
}
.series .series-blurb {
  margin: 0px;
  font-size: 16px;
}

@media (max-width: 600px) {
  .series .series-blurb {
    margin: 20px;
  }
  .series .series-title {
    margin-bottom: 20px;
  }
}
.info {
  display: flex;
  justify-content: left;
  max-width: 400px;
  min-width: 5px;
  font-size: 18px;
  margin: 0px 0px 15px 0px;
}

.info_end {
  font-size: 18px;
  margin-top: auto;
}

.text-content {
  display: flex;
  flex-direction: row;
}
.text-content ul {
  margin: 0px 0px 15px 0px;
}
.text-content img {
  max-width: 400px;
  height: auto;
  text-align: center;
  margin: 0px 0px 5px 0px;
}
.text-content li {
  list-style-type: circle;
  font-size: 16px;
}
.text-content .information-container {
  min-width: 50px;
  max-width: 400px;
  display: flex;
  padding: 0px 32px 0px 0px;
  flex-direction: column;
}
.text-content .information-container .caption {
  text-align: center;
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
}

@media (max-width: 1200px) {
  .text-content {
    flex-direction: column;
    padding: 0px;
  }
}
@media (max-width: 600px) {
  .text-content {
    flex-direction: column;
    padding: 0px 0px 40px 0px;
  }
  .information-container {
    min-width: 50px;
    padding: 0px;
  }
}
.clickable {
  cursor: pointer;
}

/* Layout & Containers */
.container {
  display: flex;
  flex-direction: row;
  height: 100px;
}
.container .blade {
  position: sticky;
  top: 0px;
  left: 0px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 275px;
  color: var(--text-color);
  background-color: var(--bg-color);
  min-width: 100px;
}
.container .blade.dark-mode {
  --bg-color: #000000;
  --text-color: #ffffff;
}
.container .blade .title {
  position: fixed;
  top: 28px;
  left: 28px;
  font-weight: 600;
  font-size: 32px;
  max-width: 200px;
}
.container .blade .main-menu {
  position: fixed;
  left: 20px;
  top: 140px;
  font-size: 24px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}
.container .blade .main-menu .brand {
  margin: 7px;
}
.container .blade .fill {
  margin: auto;
}
.container .blade .menu-container {
  display: flex;
  flex-direction: row;
}
.container .blade .menu-container .spacer {
  margin: auto;
}
.container .blade .menu-container .menu-button {
  z-index: 1000;
}
.container .blade .menu-container .collapsible {
  overflow: hidden;
}
.container .blade .menu-container .menu-button {
  float: right;
  margin-left: 5px;
}
.container .blade .menu-container .menu-button:after {
  content: "+";
}
.container .blade .menu-container .open:after {
  content: "−";
}
.container .blade .end-menu {
  visibility: visible;
  position: fixed;
  bottom: 0;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  font-size: 24px;
  margin-bottom: 20px;
  z-index: 0;
}
.container .blade .end-menu a,
.container .blade .end-menu div {
  margin: 0px;
  margin-right: 10px;
}
.container .content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: 100vh;
}

/* Navigation */
.nav {
  background-color: #ffffff;
}

/* Utility */
.wrapper {
  display: flex;
  margin: auto;
  padding: 20px;
}

.icon {
  width: 35px;
  height: 35px;
  font-size: 8px;
}

.icon-splash {
  width: 35px;
}

.icon-big {
  width: 52px;
  height: 52px;
  transform: translate(0, 5px);
}

.icon-bigger {
  width: 77px;
  height: 77px;
}

body.dark-mode .icon {
  filter: invert(100%);
}
body.dark-mode .icon-splash {
  filter: none;
}
body.dark-mode .icon-big {
  transform: scaleX(-1) translate(0, 5px);
}
body.dark-mode .icon-bigger {
  transform: scaleX(-1);
  filter: none;
}

/* Grid & Masonry */
.masonry {
  width: 100%;
  box-sizing: border-box;
}

.grid-sizer {
  width: calc((100% - 5 * 32px) / 5);
}

.grid-item {
  float: left;
  box-sizing: border-box;
  width: calc((100% - 5 * 32px) / 5);
  padding-top: 32px;
}

.grid-item--bigger {
  width: calc((100% - 5 * 32px) * 2 / 5 + 32px);
}

.grid-item--series {
  float: left;
  box-sizing: border-box;
  padding-right: 32px;
  padding-top: 32px;
}

.masonry-bigger {
  display: grid;
  padding: 42px;
  gap: 42px;
  grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
  grid-template-rows: masonry;
  align-tracks: stretch;
}

/* Modal */
body.light-mode .modal {
  background-color: rgba(255, 255, 255, 0.9);
}

body.dark-mode .modal {
  background-color: rgba(10, 10, 10, 0.9);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(5, 5, 5, 0.5);
  transition: opacity 0.5s ease;
  animation: fadein 0.25s;
}
.modal .modal-wrapper {
  display: flex;
  flex-direction: row;
  min-width: 100px;
  justify-content: space-between;
  width: 500px;
}
.modal #caption {
  display: flex;
  text-align: center;
  color: var(--text-color);
  font-size: 20px;
}

.modal.show {
  opacity: 1;
}

.modal-shell {
  display: flex;
  width: 90vw;
  height: 95vh;
}

.modal-content {
  display: flex;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  opacity: 0;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.nav-btn {
  display: flex;
  background: none;
  border: none;
  font-size: 20px;
  color: var(--text-color);
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  cursor: pointer;
  outline: none;
  opacity: 0.4;
  transition: opacity 0.2s;
  z-index: 10;
}

.nav-btn:hover {
  opacity: 0.9;
}

/* Image Container & Hover */
.image-container a {
  display: flex;
  position: relative;
}
.image-container img {
  width: 100%;
}
.image-container .hover-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  color: white;
  font-weight: 600;
  font-size: 32px;
  animation: fadeout 1.5s;
}
.image-container .hover-text:hover {
  opacity: 1;
  color: white;
  animation: fadein 0.5s;
}

/* Sticky Footer */
.sticky-footer {
  visibility: hidden;
}

/* Responsive / Media Queries */
@media (max-width: 1200px) {
  .grid-sizer {
    width: calc((100% - 6 * 16px) / 3);
  }
  .grid-item {
    width: calc((100% - 6 * 16px) / 3);
  }
  .grid-item--bigger {
    width: calc((100% - 6 * 16px) * 2 / 3 + 2 * 16px);
  }
}
@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .container .blade {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px;
    top: 0px;
    min-height: 405px;
    left: 0px;
    width: 100%;
    min-width: 0px;
  }
  .container .blade .title {
    position: relative;
    text-align: center;
    left: 0px;
    max-width: 60%;
    font-size: 32px;
  }
  .container .blade .main-menu {
    position: relative;
    text-align: center;
    left: 0px;
    top: 40px;
  }
  .container .blade .main-menu .menu-container {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .container .blade .main-menu .menu-button {
    display: none;
  }
  .container .blade .main-menu .spacer {
    display: none;
  }
  .container .blade .main-menu a {
    margin: 6px;
  }
  .modal .modal-wrapper {
    width: 350px;
  }
  .modal-shell {
    display: flex;
    width: 100vw;
    height: 95vh;
  }
  .modal-content {
    display: flex;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
  }
  .end-menu {
    visibility: hidden;
    position: fixed;
  }
  .end-menu * {
    visibility: hidden;
  }
  .content {
    padding-bottom: 30px;
  }
  .sticky-footer {
    visibility: visible;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--bg-color);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .sticky-footer button {
    margin: 12px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  .sticky-footer a {
    margin: 12px;
  }
  .grid-sizer {
    width: 100%;
  }
  .grid-item {
    width: 100%;
    padding: 32px;
    padding-top: 0px;
  }
  .grid-item--bigger {
    width: 100%;
    padding: 32px;
    padding-top: 0px;
  }
  .grid-item--series {
    width: 100%;
    padding: 32px;
    padding-top: 0px;
  }
  .image-container .hover-text {
    opacity: 1;
    animation: fadein 1.5s;
  }
}
/* Keyframes */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.splash {
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: start;
  flex-direction: column;
}
.splash .menu-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 32px 72px;
  font-size: 48px;
}
.splash .menu-container .title {
  color: #fff;
  text-align: center;
  margin: 10px;
}
.splash .menu-container .space styles {
  margin: 10px 0px 0px 0px;
}
.splash .menu-container .nav-links {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.splash .menu-container a {
  font-size: 32px;
  color: #fff;
  margin: 20px;
}
.splash .menu-container h3 {
  margin: 0px;
}

.splash-end-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: auto;
}
.splash-end-menu a {
  font-size: 24px;
  color: #fff;
  margin: 10px;
  text-decoration: none;
  filter: invert(100%);
}

@media only screen and (max-width: 800px) {
  .splash .menu-container .nav-links {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 600px) {
  .splash .menu-container .title {
    font-size: 32px;
  }
  .splash .menu-container a {
    font-size: 24px;
    margin: 6px;
  }
}
.markdown-container {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
  font-size: 18px;
}

.markdown-content {
  display: flex;
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

/*# sourceMappingURL=index.css.map */
