{% extends "base.html" %}

{% block content %}

<div class="wrapper">
  <div class="text-heading">
    <p class="info">Howdy,</p>

    <div class="text-content">
      <div class="information-container">

        <img src="https://ik.imagekit.io/ry1ze0vkn/misc/KKB02098.jpg?tr=w-800" alt="Me" style="margin-top: 18px;">
        <div class="caption">in Hokkaido, Japan 2023</div>

        <p class="info">
        I am an amateur photographer living in Sacramento, California. I grew up in northwestern Maryland.
        </p>

      </div>

      <div class="information-container">
        <p class="info">I became interested in photography by shooting film on a Minolta X-7 as a teenager. I have now
        transitioned to primarily digital photography. I am particularly interested in black and white and impressionistic photography.
        </p>
        <p class="info">
        I shoot with an Sony alpha 7III with a variety of modern and vintage lenses.
        </p>
        <ul>
          <li>Sony Sonnar T* FE 55mm f/1.8</li>
          <li>Tamron 28-200mm f/2.8 - f/5.6</li>
          <li>Helios 44-2 50mm f/2</li>
          <li>Pentax Takumar SMC 135mm f/2.5</li>
        </ul>

        <p class="info">
        I built this site myself by hand, without a content management system.
        </p>

      </div>

    </div>
    <p class="info">
    Thanks for stopping in, <br>
    Kaleb Bordner
    </p>
  </div>
</div>

{% endblock %}
