{% extends "base.html" %}

{% block content %}

<div class="wrapper">
<div class="text-heading">
    <p class="info">Welcome</p>

<div class="text-content">
    <div class="information-container">

        <img src="{{ url_for('static', filename='images/20250115_214827_KKB02098.jpg') }}" alt="Photo 1">
        <div class="caption">me in Hokkaido, Japan 2023</div>

        <p class="info">I am a photographer and engineer living in Sacramento, California. I grew up in northwestern Maryland and have slowly been migrating west as an adult.
            I am currently a doctoral student studying how we can advance the design of morphing autonomous aircraft by studying the flight dynamics and control of birds.
        </p>

    </div>

    <div class="information-container">
        <p class="info">I became interested in photography by shooting film on a Minolta X-7 as a teenager,
            but have transitioned to primarily digital photography. I am particularly interested in black and white and impressionistic photography. 
        </p>
        {#<p class="info">
            I shoot with an Sony alpha 7III with a variety of modern and vintage lenses.
        </p>
        <ul>
            <li>Sony Sonnar T* FE 55mm f/1.8</li>
            <li>Tamron 28-200mm f/2.8 - f/5.6</li>
            <li>Helios 44-2 50mm f/2</li>
            <li>Pentax Takumar SMC 135mm f/2.5</li>
        </ul>
        <p class="info">
            Additionally, I have a variety of filters and use a GODOX V860II-S flash to control environmental lighting.
        </p>#}

        <p class="info">
            I am available for portraits, wedding, and event photography. As an amateur, I can assure you that I am quite cheap.
        </p>

        <p class="info">
            I built this site by hand without a content management system.
        </p>

        <p class="info_end">
                    for rates and inquiries please contact me via email: <span class="emphasis">kaleb.bordner@gmail.com</span>
        </p>
    </div>

</div>
</div>
</div>

{% endblock %}
