{% extends "base.html" %}

{% block content %}

<div class="textcontent2">
    <p class="info">Welcome</p>

<div class="textcontent">
    <div class="information-container">
        <p class="info">I am a photographer and engineer living in Sacramento, California. I grew up in northwestern Maryland and have slowly been migrating west as an adult.
            I am currently a doctoral student in the Department of Mechanical and Aerospace Engineering at the University of California, Davis.
        </p>

        <img src="{{ url_for('static', filename='uploads/20250115_214827_KKB02098.jpg') }}" alt="Photo 1">

        <p class="info">I became interested in photography by shooting film on a Minolta X-7 as a teenager,
            but have transitioned to digital photography as an adult. I am particularly interested in black and white and impressionistic photography. 
        </p>
    </div>

    <div class="information-container">
        <p class="info">
            I am available for portraits, wedding, and event photography. Please reach out to discuss your needs.
        </p>

        <p class="info">
            I shoot with an Sony alpha 7III with a variety of modern and vintage lenses.
        </p>
        <ul>
            <li>Sony Sonnar T* FE 55mm f/1.8</li>
            <li>Tamron 28-200mm f/2.8 - f/5.6</li>
            <li>Helios 44-2 50mm f/2</li>
            <li>Pentax Takumar SMC 135mm f/2.5</li>
        </ul>
        <p class="info">
            Additionally, I have a variety of filters and use a GODOX V860II-S flash to control environmental lighting.
        </p>

        <p class="info_end">
            please contact me at <span  class="emphasis">kaleb.bordner@gmail.com</span>
        </p>
    </div>

</div>
</div>

{% endblock %}