<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}almanac photography{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='icons/favicon.svg') }}">
    <link href="https://fonts.bunny.net/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="{{ url_for('static', filename='js/scrolltop.js') }}"></script>
    <script src="{{ url_for('static', filename='js/collapsible.js') }}"></script>
    <script src="{{ url_for('static', filename='js/light_dark.js') }}"></script>
  </head>

  <body>
    <div class = "container">
      <div class="blade">
        <div class = "title">
          <img src="{{ url_for('static', filename='icons/almanac_logo.svg') }}" alt="" id="toggle" class="icon icon-big clickable">
          almanac photography
        </div>

        <div class = "main-menu">
          <a href="/" class="brand">home</a>
          <a href="{{ url_for('portfolio') }}" class="brand">portfolio</a>
          <div class="menu-container brand">
            <a href="{{ url_for('series') }}" class="brand2">series</a>
            <span class="menu-button"></span>
          </div>
          <div class="collapsible">
            <div>
              <ul>
                <li><a href="{{ url_for('series_japan', series_name='japan') }}">japan</a></li>
                <li><a href="{{ url_for('series_westing', series_name='westing') }}">westing</a></li>
              </ul>
            </div>
          </div>
          <a href="{{ url_for('about') }}" class="brand">about</a>
          <a href="{{ url_for('contact') }}" class="brand">contact</a>
        </div>

        <div class="fill"></div>

        <div class = "end-menu">
          <a href="mailto:kaleb.bordner@gmail.com" target="_blank">
            <img class="icon" src="/static/icons/email.svg"  alt="email">
          </a>
          <a href="https://www.instagram.com/vessel_in_vain/" target="_blank">
            <img class="icon" src="/static/icons/instagram.svg" alt="insta">
          </a>

        </div>
      </div>

      <div class="content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="flash-message">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
      </div>

    </div>

    <script>
      var coll = document.getElementsByClassName("collapse");
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.maxHeight){
            content.style.maxHeight = null;
          } else {
            content.style.maxHeight = content.scrollHeight + "px";
          } 
        });
      }
    </script>
  </body>

  <footer id="small-footer" class="sticky-footer">
    <a href="mailto:kaleb.bordner@gmail.com" target="_blank">
      <img class="icon" src="/static/icons/email.svg" alt="email">
    </a>
    <a href="https://www.instagram.com/vessel_in_vain/" target="_blank">
      <img class="icon" src="/static/icons/instagram.svg" alt="insta">
    </a>
    <button id="scrollToTop" onclick="topFunction()">
      <img class="icon" src="/static/icons/up.svg" alt="up">
      </a>
  </footer>


</html>
