{% extends "base.html" %}

{% block content %}

<div class="wrapper">
  <div class="text-heading">
    <div class="text-content">
      <div class="contact">

        <div class="info center">
          for rates and inquiries please contact me via email:
        </div>
        <div class="info center">
          <a href="mailto:kaleb.bordner@gmail.com" class="emphasis">kaleb.bordner@gmail.com</a>
        </div>

        <div class="space"></div>

        <div class="info center">
          If you would like to be notified of new work, please subscribe to my mailing list:
        </div>
        <form method="POST" action="/subscribe" class="info center email-form">
          <input type="email" name="email" placeholder="Enter your email" required>
          <button type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
