{% extends "base.html" %}

{% block content %}
<script src="{{ url_for('static', filename='js/gallery.js') }}"></script>

<!-- <div class="wrap"> -->
  <div class="masonry">
    <div class="grid-sizer"></div>
    <img src="https://ik.imagekit.io/ry1ze0vkn/portfolio/portfolio_9.jpg?tr=w-1000,lqip" alt="Washington, D.C." class="grid-item grid-item--bigger">
    <img src="https://ik.imagekit.io/ry1ze0vkn/portfolio/portfolio_1.jpg?tr=w-500,lqip" alt="Sacramento, California" class="grid-item">
    <img src="https://ik.imagekit.io/ry1ze0vkn/portfolio/portfolio_2.jpg?tr=w-500,lqip" alt="Gualala, California" class="grid-item">
    <img src="https://ik.imagekit.io/ry1ze0vkn/portfolio/portfolio_3.jpg?tr=w-500,lqip" alt="Montgomery Woods, California" class="grid-item">
    <img src="https://ik.imagekit.io/ry1ze0vkn/portfolio/portfolio_4.jpg?tr=w-500,lqip" alt="near Davis, California" class="grid-item">
    <img src="https://ik.imagekit.io/ry1ze0vkn/portfolio/portfolio_5.jpg?tr=w-500,lqip" alt="Sacramento, California" class="grid-item">
    <img src="https://ik.imagekit.io/ry1ze0vkn/portfolio/portfolio_6.jpg?tr=w-500,lqip" alt="Sacramento, California" class="grid-item">
    <img src="https://ik.imagekit.io/ry1ze0vkn/portfolio/portfolio_7.jpg?tr=w-500,lqip" alt="near Lock Haven, Pennslyvania" class="grid-item">
    <img src="https://ik.imagekit.io/ry1ze0vkn/portfolio/portfolio_8.jpg?tr=w-500,lqip" alt="Harper's Ferry, West Virginia" class="grid-item">
    <img src="https://ik.imagekit.io/ry1ze0vkn/portfolio/portfolio_10.jpg?tr=w-500,lqip" alt="London, United Kingdom" class="grid-item">
    <img src="https://ik.imagekit.io/ry1ze0vkn/portfolio/portfolio_11.jpg?tr=w-500,lqip" alt="Baltimore, Maryland" class="grid-item">
    <img src="https://ik.imagekit.io/ry1ze0vkn/portfolio/portfolio_12.jpg?tr=w-500,lqip" alt="near Baltimore, Maryland" class="grid-item">
    <img src="https://ik.imagekit.io/ry1ze0vkn/portfolio/portfolio_13.jpg?tr=w-500,lqip" alt="Grand Canyon, Arizona" class="grid-item">
    <img src="https://ik.imagekit.io/ry1ze0vkn/portfolio/portfolio_14.jpg?tr=w-500,lqip" alt="Bolinas, California" class="grid-item">
    <img src="https://ik.imagekit.io/ry1ze0vkn/portfolio/portfolio_15.jpg?tr=w-500,lqip" alt="Frederick, Maryland" class="grid-item">
    <img src="https://ik.imagekit.io/ry1ze0vkn/portfolio/portfolio_16.jpg?tr=w-500,lqip" alt="Atlanta, Georgia" class="grid-item">
    <img src="https://ik.imagekit.io/ry1ze0vkn/portfolio/portfolio_17.jpg?tr=w-1000,lqip" alt="Jenner, California" class="grid-item grid-item--bigger">
  </div>

  <div id="imageModal" class="modal" style="display: none;">
    <div class="modal-shell" id="modalFrame">
      <img class="modal-content" id="fullImage">
    </div>
    <div class="modal-wrapper">
      <button id="prevBtn" class="nav-btn">previous</button>
      <div id="caption" class="caption_bottom"></div>
      <button id="nextBtn" class="nav-btn">next</button>
    </div>
  </div>
<!-- </div> -->

<script src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/masonry.js') }}"></script>

{% endblock %}
