{% extends "base.html" %}

{% block content %}
<script src="{{ url_for('static', filename='js/gallery.js') }}"></script>

<div class="masonry">
    <img style="grid-column: span 2" src="{{ url_for('static', filename='uploads/portfolio/portfolio_9.jpg') }}" alt="Photo 1" class="gallery-image">
    <img src="{{ url_for('static', filename='uploads/portfolio/portfolio_1.jpg') }}" alt="Photo 1" class="gallery-image">
    <img src="{{ url_for('static', filename='uploads/portfolio/portfolio_2.jpg') }}" alt="Photo 1" class="gallery-image">
    <img src="{{ url_for('static', filename='uploads/portfolio/portfolio_3.jpg') }}" alt="Photo 1" class="gallery-image">
    <img src="{{ url_for('static', filename='uploads/portfolio/portfolio_4.jpg') }}" alt="Photo 1" class="gallery-image">
    <img src="{{ url_for('static', filename='uploads/portfolio/portfolio_5.jpg') }}" alt="Photo 1" class="gallery-image">
    <img src="{{ url_for('static', filename='uploads/portfolio/portfolio_6.jpg') }}" alt="Photo 1" class="gallery-image">
    <img src="{{ url_for('static', filename='uploads/portfolio/portfolio_7.jpg') }}" alt="Photo 1" class="gallery-image">
    <img src="{{ url_for('static', filename='uploads/portfolio/portfolio_8.jpg') }}" alt="Photo 1" class="gallery-image">
    <img src="{{ url_for('static', filename='uploads/portfolio/portfolio_10.jpg') }}" alt="Photo 1" class="gallery-image">
    <img src="{{ url_for('static', filename='uploads/portfolio/portfolio_11.jpg') }}" alt="Photo 1" class="gallery-image">
    <img src="{{ url_for('static', filename='uploads/portfolio/portfolio_12.jpg') }}" alt="Photo 1" class="gallery-image">
    <img src="{{ url_for('static', filename='uploads/portfolio/portfolio_13.jpg') }}" alt="Photo 1" class="gallery-image">
    <img src="{{ url_for('static', filename='uploads/portfolio/portfolio_14.jpg') }}" alt="Photo 1" class="gallery-image">
    <img src="{{ url_for('static', filename='uploads/portfolio/portfolio_15.jpg') }}" alt="Photo 1" class="gallery-image">
    <img src="{{ url_for('static', filename='uploads/portfolio/portfolio_16.jpg') }}" alt="Photo 1" class="gallery-image">
    <img src="{{ url_for('static', filename='uploads/portfolio/portfolio_17.jpg') }}" alt="Photo 1" class="gallery-image">
</div>

<div id="imageModal" class="modal" style="display: none;">
    <span class="close">&times;</span>
    <button id="prevBtn" class="nav-btn">previous</button>
    <img class="modal-content" id="fullImage">
    <button id="nextBtn" class="nav-btn">next</button>
</div>

{% endblock %}
