<!-- templates/post.html -->
{% extends "base.html" %}

{% block title %}{{ title }} - My Blog{% endblock %}

{% block content %}
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/contrib/auto-render.min.js"
    onload="renderMathInElement(document.body, {
      delimiters: [
        {left: '\\(', right: '\\)', display: false},   // inline math
        {left: '$$', right: '$$', display: true}       // display math
      ],
      throwOnError : false
    });"></script>


<div class="markdown-container">
<article class="markdown-content"></article>
  {{ content|safe }}
</article>
</div>
{% endblock %}