{% extends "base.html" %}

{% block content %}
<script src="{{ url_for('static', filename='js/gallery.js') }}"></script>

<div class="series">
  <div class="series-title">black & white</div>
</div>

<div class="masonry">
  <div class="grid-sizer"></div>
  <img src="https://ik.imagekit.io/ry1ze0vkn/bw/bush.jpg?tr=w-500" alt="Gettysburg, Pennslyvania" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/bw/bike.jpg?tr=w-500" alt="Baltimore, Maryland" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/bw/ivy.jpg?tr=w-500" alt="Bolinas, California" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/bw/shira.jpg?tr=w-1000" alt="Shira-ka-wa-go, Japan" class="grid-item grid-item--bigger">
  <img src="https://ik.imagekit.io/ry1ze0vkn/bw/farm.jpg?tr=w-500" alt="Gettysburg, Pennslyvania" class="grid-item">
</div>

<div id="imageModal" class="modal" style="display: none;">
  <div class="modal-shell" id="modalFrame">
    <img class="modal-content" id="fullImage" style="pointer-events: none;">
    <div id="modalSpinner" class="modal-spinner"></div>
  </div>
  <div class="modal-wrapper">
    <button id="prevBtn" class="nav-btn">previous</button>
    <div id="caption" class="caption_bottom"></div>
    <button id="nextBtn" class="nav-btn">next</button>
  </div>
</div>

<script src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/masonry.js') }}"></script>

{% endblock %}
