{% extends "base.html" %}

{% block content %}
<script src="{{ url_for('static', filename='js/gallery.js') }}"></script>

<div class="series">
  <div class="series-title">Japan</div>
</div>

<div class="masonry">
  <div class="grid-sizer"></div>

  <img src="https://ik.imagekit.io/ry1ze0vkn/japan/japan_1.jpg?tr=w-500,lqip" alt="" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/japan/japan_6.jpg?tr=w-500,lqip" alt="" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/japan/japan_3.jpg?tr=w-500,lqip" alt="" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/japan/japan_7.jpg?tr=w-500,lqip" alt="" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/japan/japan_4.jpg?tr=w-500,lqip" alt="" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/japan/japan_5.jpg?tr=w-1000,lqip" alt="" class="grid-item grid-item--bigger">
  <img src="https://ik.imagekit.io/ry1ze0vkn/japan/japan_8.jpg?tr=w-500,lqip" alt="" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/japan/japan_9.jpg?tr=w-500,lqip" alt="" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/japan/japan_10.jpg?tr=w-500,lqip" alt="" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/japan/japan_11.jpg?tr=w-500,lqip" alt="" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/japan/japan_12.jpg?tr=w-500,lqip" alt="" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/japan/japan_13.jpg?tr=w-500,lqip" alt="" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/japan/japan_14.jpg?tr=w-500,lqip" alt="" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/japan/japan_15.jpg?tr=w-500,lqip" alt="" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/japan/japan_16.jpg?tr=w-1000,lqip" alt="" class="grid-item grid-item--bigger">
  <img src="https://ik.imagekit.io/ry1ze0vkn/japan/japan_17.jpg?tr=w-500,lqip" alt="" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/japan/japan_18.jpg?tr=w-500,lqip" alt="" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/japan/japan_19.jpg?tr=w-500,lqip" alt="" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/japan/japan_20.jpg?tr=w-500,lqip" alt="" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/japan/japan_21.jpg?tr=w-500,lqip" alt="" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/japan/japan_22.jpg?tr=w-500,lqip" alt="" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/japan/japan_23.jpg?tr=w-1000,lqip" alt="" class="grid-item grid-item--bigger">
  <img src="https://ik.imagekit.io/ry1ze0vkn/japan/japan_24.jpg?tr=w-500,lqip" alt="" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/japan/japan_25.jpg?tr=w-500,lqip" alt="" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/japan/japan_2.jpg?tr=w-500,lqip" alt="" class="grid-item">
</div>

<div id="imageModal" class="modal" style="display: none;">
  <div class="modal-shell" id="modalFrame">
    <img class="modal-content" id="fullImage">
  </div>
  <div class="modal-wrapper">
    <button id="prevBtn" class="nav-btn">previous</button>
    <div id="caption" class="caption_bottom"></div>
    <button id="nextBtn" class="nav-btn">next</button>
  </div>
</div>

<script src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/masonry.js') }}"></script>

{% endblock %}
