{% extends "base.html" %}

{% block content %}
<script src="{{ url_for('static', filename='js/gallery.js') }}"></script>

<div class="series">
  <div class="series-title">Westing</div>
</div>

<div class="masonry">
  <div class="grid-sizer"></div>
  <img src="https://ik.imagekit.io/ry1ze0vkn/westing/westing_7.jpg?tr=w-1000" alt="Bishop, California" class="grid-item grid-item--bigger">
  <img src="https://ik.imagekit.io/ry1ze0vkn/westing/westing_4.jpg?tr=w-500" alt="Somethin" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/westing/westing_2.jpg?tr=w-500" alt="Somethin" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/westing/westing_1.jpg?tr=w-500" alt="Davis, California" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/westing/westing_5.jpg?tr=w-500" alt="Bodie State Park, California" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/westing/westing_3.jpg?tr=w-500" alt="near Pine Creek Canyon, California" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/westing/westing_8.jpg?tr=w-500" alt="Cody, Wyoming" class="grid-item">
  <img src="https://ik.imagekit.io/ry1ze0vkn/westing/westing_6.jpg?tr=w-1000" alt="Bodie State Park, California" class="grid-item grid-item--bigger">
</div>

<div id="imageModal" class="modal" style="display: none;">
  <div class="modal-shell" id="modalFrame">
    <img class="modal-content" id="fullImage" style="pointer-events: none;">
  </div>
  <div class="modal-wrapper">
    <button id="prevBtn" class="nav-btn">previous</button>
    <div id="caption" class="caption_bottom"></div>
    <button id="nextBtn" class="nav-btn">next</button>
  </div>
</div>

<script src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/masonry.js') }}"></script>

{% endblock %}
