{% extends "base.html" %}

{% block content %}
<div class="masonry-bigger">

    <div class="image-container">
        <a href="{{ url_for('series_japan')}}">
            <img src="{{ url_for('static', filename='images/20250115_214906_KKB00768.jpg') }}" alt="Photo of Mt. Fuji from the train.">
            <div class="hover-text">Japan</div>
        </a>
    </div>

    <div class="image-container">
    <a href="{{ url_for('series_westing')}}">
        <img src="{{ url_for('static', filename='images/westing/westing_1.jpg') }}" alt="Photo 2">
        <div class="hover-text">Westing</div>
    </a>
    </div>

</div>

{% endblock %}
