<!DOCTYPE html> <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}almanac photography{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='icons/favicon.svg') }}">
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/splash.js') }}"></script>
    <script src="{{ url_for('static', filename='js/light_dark.js') }}"></script>
  </head>

  <body class="splash" id="splash">

    <div class="menu-container">
      <div class="title">
        <img id="toggle" src="/static/icons/almanac_logo_white.svg" alt="almanac logo" class="icon icon-bigger clickable">
        <h3>almanac photography</h3>
      </div>

      <div class="space"></div>

      <div class="nav-links">
        <a href="{{ url_for('portfolio') }}">portfolio</a>
        <a href="{{ url_for('series') }}">series</a>
        <a href="{{ url_for('about') }}">about</a>
        <a href="{{ url_for('contact') }}">contact</a>
      </div>
    </div>

    <div class = "splash-end-menu">
      <a href="mailto:kaleb.bordner@gmail.com" target="_blank">
        <img class="icon-splash" src="/static/icons/email.svg"  alt="email">
      </a>
      <a href="https://www.instagram.com/vessel_in_vain/" target="_blank">
        <img class="icon-splash" src="/static/icons/instagram.svg" alt="insta">
      </a>
    </div>
  </body>
</html>
