<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Photoblog{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='scss/styles.css') }}">
    <script src="../static/script.js"></script>
</head>

<body class="splash" id="splash">
    <div class="menu-container">
        <div class="title">
            <a href="{{ url_for('index') }}" class="new-post-button">Brass Eye</a>
        </div>
        <div class="space">
            
        </div>
        <div>
        <a href="{{ url_for('index') }}" class="new-post-button">enter</a>
        </div>
    <div>
</body>
</html>
