@use "variables" as *;

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: $font-stack;
  font-size: 20px;
  font-weight: 400;
  color: var(--text-color);
  background: var(--bg-color);
  min-height: 100%;
  height: 100%;
  margin: 0;

  &.dark-mode {
    --bg-color: #{$dark-bg};
    --text-color: #{$dark-text};
  }
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--bg-color);
  z-index: -1;
  /* behind all content */
}

.content {
  height: 100vh;
}

h1,
h2,
h3 {
  font-style: normal;
}

a {
  color: var(--text-color);
  text-decoration: none;
  margin: 0px;
}

img {
  max-width: 100%;
  height: auto;
}

.emphasis {
  font-weight: 600;
}

.text {
  background-color: #e1ffc2;
  display: none;
  font-size: 20px;
}

.collapsible {
  overflow: hidden;
  cursor: pointer;
  max-height: 0px;

  ul {
    list-style-type: none;
    margin: 0px;

    li {
      margin: 7px;
    }
  }
}

.contact {
  flex-direction: column;
}

.text-heading {
  display: flex;
  flex-direction: column;
}

#fullImage {
  opacity: 0.2;
  transition: opacity 0.33s ease-in;
}

#fullImage.loaded {
  opacity: 1;
}

.series {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 20px 40px 0px 40px;

  .series-title {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
  }

  .series-blurb {
    margin: 0px;
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .series .series-blurb {
    margin: 20px;
  }

  .series .series-title {
    margin-bottom: 20px;
  }
}

.info {
  display: flex;
  justify-content: left;
  min-width: 200px;
  font-size: 18px;
}

.info_end {
  font-size: 18px;
  margin-top: auto;
}

.text-content {
  display: flex;
  flex-direction: row;

  ul {
    margin: 0px 0px 15px 0px;
  }

  img {
    max-width: 400px;
    height: auto;
    text-align: center;
    margin: 0px 0px 5px 0px;
  }

  li {
    list-style-type: circle;
    font-size: 16px;
  }

  .information-container {
    min-width: 200px;
    max-width: 400px;
    display: flex;
    padding: 0px 32px 0px 0px;
    flex-direction: column;

    .caption {
      text-align: center;
      font-size: 15px;
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }
}

@media (max-width: 1200px) {
  .text-content {
    flex-direction: column;
    padding: 0px;
  }

  .information-container {
    max-width: 200px;
    align-items: center;
    padding: 0px;
  }

  .info {
    // font-size: 16px;
    max-width: 400px;
  }
}

@media (max-width: 600px) {
  .text-content {
    flex-direction: column;
    padding: 0px 0px 40px 0px;
  }

  .information-container {
    min-width: 50px;
    padding: 0px;
  }
}
