@use "variables" as *;

.container {
  display: flex;
  flex-direction: row;
  height: 100%;

  .blade {
    position: sticky;
    top: 0px;
    left: 0px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 250px;
    min-width: 100px;

    .title {
      position: fixed;
      top: 32px;
      left: 28px;
      font-weight: 600;
      font-size: 32px;
      max-width: 200px;
    }

    .main-menu {
      position: fixed;
      left: 20px;
      top: 132px;
      font-size: 24px;
      z-index: 1000;
    }

    .fill {
      margin: auto;
    }

    .end-menu {
      visibility: visible;
      position: fixed;
      bottom: 0;
      justify-content: flex-end;
      align-items: flex-end;
      display: flex;
      flex-direction: row;
      font-size: 24px;
      margin-bottom: 20px;
      z-index: 0;

      a {
        margin: 0px;
        margin-right: 10px;
      }
    }

    div {
      display: flex;
      top: 0;
      flex-direction: column;

      a {
        margin: 10px;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
  }
}

.sticky-footer {
  visibility: hidden;
}

.icon {
  width: 30px;
}



@media (max-width: 700px) {
  .end-menu {
    visibility: hidden;
    position: fixed;

    * {
      visibility: hidden;
    }
  }

  .content {
    padding-bottom: 30px;
  }

  .sticky-footer {
    visibility: visible;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    a {
      margin: 0px;
      margin-right: 10px;
    }

    /* stays above other content */
  }

}

@media (max-width: 700px) {
  .container {
    flex-direction: column;

    .blade {
      position: relative;
      align-items: center;
      padding: 0px;
      top: 0px;
      min-height: 350px;
      left: 0px;
      width: 100%;
      min-width: 0px;

      .title {
        position: relative;
        text-align: center;
        left: 0px;
        max-width: 80%;
      }

      .main-menu {
        position: relative;
        text-align: center;
        left: 0px;
        top: 40px;
      }
    }
  }

  .main-menu {
    position: relative;
    left: 0px;
    top: 0px;
    font-size: 20px;
  }

  .modal .modal-wrapper {
    width: 350px;
  }
}

.wrap {
  width: 100%;
  border: 2px solid red;
}

.wrapper {
  display: flex;
  margin: auto;
}


.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.95);
  opacity: 0;
  transition: opacity 0.5s ease;
  animation: fadein 0.25s;

  .modal-wrapper {
    display: flex;
    flex-direction: row;
    min-width: 100px;
    justify-content: space-between;
    width: 450px;
  }

  #caption {
    display: flex;
    text-align: center;
    color: #000;
    font-size: 20px;
  }
}


.modal.show {
  opacity: 1;
}

.modal-shell {
  display: flex;
  width: 90vw;
  height: 95vh;
}

.modal-content {
  display: flex;
  margin: auto;
  // display: block;
  max-width: 90%;
  max-height: 90%;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  opacity: 0;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.nav-btn {
  display: flex;
  background: none;
  border: none;
  color: black;
  font-size: 20px;
  font-family: $font-stack;
  cursor: pointer;
  outline: none;
  opacity: 0.40;
  transition: opacity 0.2s;
  z-index: 10;
}

.nav-btn:hover {
  opacity: 0.9;
}

.masonry {
  width: 100%;
  box-sizing: border-box;
}

.grid-sizer {
  width: calc((100% - #{$grid-num} * #{$grid-pad}) / #{$grid-num});
}

.grid-item {
  float: left;
  box-sizing: border-box;
  width: calc((100% - #{$grid-num} * #{$grid-pad}) / #{$grid-num});
  padding-top: 32px;
}

.grid-item--bigger {
  width: calc(((100% - #{$grid-num} * #{$grid-pad}) * 2 / #{$grid-num}) + #{$grid-pad});
}

.grid-item--series {
  float: left;
  box-sizing: border-box;
  padding-right: $grid-pad;
  padding-top: $grid-pad;
}

@media (max-width: 1200px) {
  .grid-sizer {
    width: calc((100% - 6 * #{$grid-pad-sm}) / 3);
  }

  .grid-item {
    width: calc((100% - 6 * #{$grid-pad-sm}) / 3);
  }

  .grid-item--bigger {
    width: calc(((100% - 6 * #{$grid-pad-sm}) * 2 / 3) + 2*#{$grid-pad-sm});
  }
}


.masonry-bigger {
  display: grid;
  padding: 42px;
  gap: 42px;
  grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
  grid-template-rows: masonry;
  align-tracks: stretch;

}

.image-container {
  a {
    display: flex;
    position: relative;
  }

  img {
    width: 100%;
  }

  .hover-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.0;
    z-index: 1;
    color: white;
    font-weight: 600;
    font-size: 32px;
    animation: fadeout 1.5s;
  }

  .hover-text:hover {
    opacity: 1;
    color: white;
    animation: fadein 0.5s;
  }
}

@media (max-width: 700px) {
  .grid-sizer {
    width: 100%
  }

  .grid-item {
    width: 100%;
    padding: 32px;
    padding-top: 0px;
  }

  .grid-item--bigger {
    width: 100%;
    padding: 32px;
    padding-top: 0px;
  }

  .grid-item--series {
    width: 100%;
    padding: 32px;
    padding-top: 0px;
  }

  .image-container {
    .hover-text {
      opacity: 1;
      animation: fadein 1.5s;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

.nav {
  background-color: $secondary-color;
}

.collapse {
  background-color: #a2de96;
  border: none;
  outline: none;
  font-size: 25px;
}

.active,
.collapse:hover {
  background-color: #438a5e;
}
