@use "variables" as *;

.container {
  display: flex;
  flex-direction: row;
  height: 100%;

  .blade {
    position: sticky;
    top: 0px;
    left: 0px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    max-width: 250px;
    min-width: 150px;

    .title {
      position: fixed;
      top: 42px;
      left: 28px;
      font-weight: 700;
      font-size: 32px;
      max-width: 200px;
    }

    .main-menu {
      position: fixed;
      left: 20px;
      top: 150px;
      font-size: 24px;
    }

    div {
      display: flex;
      top: 0;
      flex-direction: column;

      a {
        margin: 10px;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
  }
}

.wrapper {
  display: flex;
  margin: auto;
}


.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  opacity: 0;
  transition: opacity 0.5s ease;
  animation: fadein 0.25s;

  .modal-wrapper {
    display: flex;
    flex-direction: row;
    margin: auto;
  }

  #caption {
    display: flex;
    padding: 0 0 25px 0;
    text-align: center;
    color: #000;
    font-size: 20px;
  }
}

.modal.show {
  opacity: 1;
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 85vw;
  max-height: 90vh;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  opacity: 0;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 120px;
  background: none;
  border: none;
  color: black;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  opacity: 0.40;
  transition: opacity 0.2s;
  z-index: 10;
}

.nav-btn:hover {
  opacity: 0.9;
}

#prevBtn {
  left: 0;
  color: black;
}

#nextBtn {
  right: 0;
  color: black;
}

.masonry {
  width: 100%;
  box-sizing: border-box;
}

.grid-sizer {
  width: calc((100% - 4 * #{$grid-pad}) / 4);
}

.grid-item {
  float: left;
  box-sizing: border-box;
  width: calc((100% - 4 * #{$grid-pad}) / 4);
  margin-right: $grid-pad;
  margin-top: $grid-pad;
}

.grid-item--bigger {
  // float: left;
  // box-sizing: border-box;
  width: calc(((100% - 4 * #{$grid-pad}) * 2 / 4) + #{$grid-pad});
  // margin-right: $grid-pad*2;
  // margin-top: $grid-pad*2;
}

.grid-item--series {
  float: left;
  box-sizing: border-box;
  margin-right: $grid-pad;
  margin-top: $grid-pad;
}

@media (max-width: 800px) {
  .grid-sizer {
    width: calc((100% - 2 * #{$grid-pad-sm}) / 2);
  }

  .grid-item {
    width: calc((100% - 2 * #{$grid-pad-sm}) / 2);
    margin-top: $grid-pad-sm;
    margin-right: $grid-pad-sm;
  }

  .grid-item--bigger {
    width: 100%;
  }
}

.masonry-bigger {
  display: grid;
  padding: 42px;
  gap: 42px;
  grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
  grid-template-rows: masonry;
  align-tracks: stretch;

}

.image-container {
  a {
    display: flex;
    position: relative;
  }

  .hover-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.0;
    z-index: 1;
    color: white;
    font-weight: 700;
    font-size: 32px;
    animation: fadeout 1.5s;
  }

  .hover-text:hover {
    opacity: 1;
    color: white;
    animation: fadein 0.5s;
  }
}
