@use "variables" as *;

.nav {
  background-color: $secondary-color;
}

.collapse {
  background-color: #a2de96;
  border: none;
  outline: none;
  font-size: 25px;
}

.active,
.collapse:hover {
  background-color: #438a5e;
}
