@use "variables" as *;

.splash {
  background-color: $secondary-color;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: start;
  flex-direction: column;

  .menu-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 32px 72px;
    font-size: 48px;

    .title {
      color: #fff;
      text-align: center;
      margin: 10px;
    }

    .space styles {
      margin: 10px 0px 0px 0px;
    }

    .nav-links {
      display: flex;
      align-items: center;
      flex-direction: row;
    }

    a {
      font-size: 32px;
      color: #fff;
      margin: 20px;
    }

    h3 {
      margin: 0px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .splash {
    .menu-container {
      .nav-links {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
