html, body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  height: 100vh;
  margin: 0px;
  padding: 0;
}

h1, h2, h3 {
  font-style: normal;
}

a {
  color: #000;
  text-decoration: none;
}

.nav {
  background-color: #000;
}

.textcontent2 {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.info {
  display: flex;
  justify-content: left;
  max-width: 400px;
  font-size: 16px;
  margin: 0px 0px 15px 0px;
}

.textcontent {
  display: flex;
  flex-direction: row;
  margin: auto;
}
.textcontent ul {
  margin: 0px 0px 15px 0px;
}
.textcontent img {
  max-width: 400px;
  height: auto;
  text-align: center;
  margin: 0px 0px 15px 0px;
}
.textcontent li {
  list-style-type: circle;
  font-size: 16px;
}
.textcontent .information-container {
  min-width: 200px;
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
}
.textcontent .information-container .info_end {
  font-size: 16px;
  margin-top: auto;
}

@media (max-width: 1200px) {
  .textcontent {
    flex-direction: column;
    padding: 0px;
  }
}
.emphasis {
  font-weight: 700;
}

.splash {
  background-color: #000;
  background-image: url("../uploads/20250115_214906_KKB06201.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: start;
  flex-direction: column;
}
.splash .menu-container {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 28px 72px;
  font-size: 48px;
}
.splash .menu-container .title {
  color: #fff;
}
.splash .menu-container .space {
  margin: auto;
}
.splash .menu-container a {
  font-size: 32px;
  color: #fff;
  margin: 0px 20px;
}
.splash .menu-container h3 {
  margin: 0px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.container .blade {
  position: sticky;
  top: 0;
  left: 0;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border-right: solid 3px black;
  max-width: 300px;
  min-width: 150px;
}
.container .blade .title {
  position: sticky;
  top: 0;
}
.container .blade .main-menu {
  position: sticky;
  top: 175px;
}
.container .blade div {
  display: flex;
  top: 0;
  flex-direction: column;
}
.container .blade div a {
  margin: 10px;
}
.container .content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
}

.post-card {
  max-width: 1000px;
  padding: 10px;
  height: auto;
  border: blue 5px solid;
}
.post-card p, .post-card h2, .post-card div {
  border: solid 1px black;
  margin: 0px;
}
.post-card .post-content {
  padding: 0px;
  margin: 0px;
}
.post-card .post-content .post-meta {
  font-size: 0.8em;
  padding: 0px;
  margin: 0px;
}

.posts-grid {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  border: green 5px solid;
}
.posts-grid .post-card {
  max-width: 400px;
}

.post-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}
.post-container .post-content al .photo img {
  max-width: 25%;
}
.post-container .post-content .paragraph {
  margin-bottom: 0em;
}
.post-container .add-paragraph,
.post-container .add-photo {
  margin-top: 0em;
}
.post-container .delete-post {
  margin-top: 0em;
}
.post-container .delete-post button {
  background-color: red;
  color: white;
}

.masonry {
  display: grid;
  padding: 30px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: masonry;
  gap: 30px;
  align-tracks: stretch;
}

.masonry2 {
  display: grid;
  padding: 25px;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  grid-template-rows: masonry;
  gap: 25px;
  align-tracks: stretch;
}/*# sourceMappingURL=styles.css.map */